{% extends "base.html" %}
{% block content %}
<h1>
  {{title_low}}
</h1>
<ul class="list-articles">
{% for car in cars %}
<h2> {{car.mark}} {{car.model}} </h2>
<p> Тип кузова: {{car.body}} </p>
<p> Комплектация: {{car.complect}} </p>
<p> Год: {{car.year}} </p>
  {% if car.photo %}
	  <img class="img-article-left.thumb" src="{{car.photo.url}}">
  {% endif %}
    <li>
      {% autoescape on %}
      <p> {{car.description|linebreaks|truncatewords:45}} </p>
      {% endautoescape %}
      <div class="clear"></div>
			<p class="link-read-post">
        <a href="{{ car.get_absolute_url }}">
        Читать полностью</a></p>
		</li>
  {% endfor %}
</ul>
{% endblock %}